body{
    background-color: #D4EED9;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/bgfeed.png");
    background-size: 100%;
}
header{
    background:#334B46;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#titulo{
    display:flex;
    align-items: center;
    align-self: center;
}
#logo{
    width: 52px;
    margin: 26px 10px;
}
#piupiuwer{
    font-size: 50px;
    font-family: 'Averia Sans Libre', cursive;
    color: #7EFF9B;
}
#navheader{
    display: flex;
}
#divpesquisa{
    display: flex;
    flex-direction: column;
    width:400px;
    padding-right: 30%;
    padding-left: 5%;
}
#formpesquisa{
    display: flex;
    align-self: center;
    justify-content: center; 
    width:100%;
    margin-top: 10%;
}
#pesquisar{
    width: 30%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 1%;
    font-size: 16px;
    background: #E7F0E8;
    width:100%;
}
#pesquisar:focus{
    outline: none;
}
#botaopesquisa{
    border-radius: 0px 5px 5px 0px;
    border: none;
    background: #E7F0E8;
}
#botaopesquisa:focus{
    outline: none;
}
#botaopesquisa:hover{
    cursor: pointer;
}
#erropesq{
    margin: 10px auto;
}
#divmenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 38px;
    width: 160px;
}
#botaomenu{
    font-size: 16px;
    background: none;
    color: #E7F0E8;
    border: none;
    padding-right: 20px;
    padding-left: 50px;
    align-self: center;
    transition: 0.2s;
}
#botaomenu:hover{
    cursor: pointer;
    opacity: 0.5;
}
#botaomenu:focus{
    outline: none;
}
.divopcoes{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    width:110px;
    padding-left: 50px;
}
.botaoperfil{
    background-color: #334B46;
    border: none;
    color: #E7F0E8;
    font-size: 14px;
    padding: 10px 5px;
    margin: 0;
}
.botaoperfil:hover{
    cursor: pointer;
    color:rgba(231,240,232,0.5);
}
.botaoperfil:focus{
    outline: none;
}
.botaosenha{
    background-color: #334B46;
    border: none;
    color: #E7F0E8;
    font-size: 14px;
    padding: 10px 5px;
    margin: 0;
}
.botaosenha:hover{
    cursor: pointer;
    color:rgba(231,240,232,0.5);
}
.botaosenha:focus{
    outline: none;
}
.botaosair{
    background-color: #334B46;
    border: none;
    color: #E7F0E8;
    font-size: 14px;
    padding: 10px 5px;
    border-radius: 0 0 15px 15px;
    margin: 0;
}
.botaosair:hover{
    cursor: pointer;
    color:rgba(231,240,232,0.5);
}
.botaosair:focus{
    outline: none;
}
main{
    text-align: center;
}
#publicar{
    display: flex;
    align-items: center;
    margin: 3%;
}
#barrapiu{
    display: flex;
    width: 56%;
    margin-left: 20%;
    justify-self: center;
}
#novopiu{
    background: #E7F0E8;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    padding: 4px;
    width: 100%;
}
#novopiu:focus{
    outline: none;
}
.contador{
    background-color: #E7F0E8;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#maximo{
    border-radius: 0 5px 5px 0;
    padding-right: 4px;
}
#botaopiar{
    background: #D4EED9;
    border: none;
    border-radius: 0 5px 0 5px;
    padding: 0;
    margin-left: 1%;
}
#botaopiar:hover{
    cursor: pointer;
}
#botaopiar:focus{
    outline: none;
}
.erro{
    color: red;
    font-size: 14px;
}
.divfeed{
    background-color: #E7F0E8;
    width: 54%;
    padding: 15px;
    border-radius: 15px;
    margin: 20px auto;
}
.divusuario{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.imagem{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
    background-image: url('../img/usuario.png');
    background-size: cover;
}
.nome{
    font-weight: 600;
    color: #334B46;
    margin-top: 5px;
}
.user{
    font-size: 12px;
    margin-top: 5px;
}
.piu{
    margin: auto;
    font-size: 18px;
    text-align: justify;
}
.interacao{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 20px;

}
.curtidas{
    color:#334B46;
    font-weight: 600;
    font-size: 14px;
}
.curtir{
    border: none;
    background: #E7F0E8;
    color: #334B46;
    margin-right: 3px;
    font-weight: 600;
}
.curtir:focus{
    outline: none;
}
.curtir:hover{
    text-decoration: underline;
    cursor: pointer;
}
.del{
    border: none;
    background: #E7F0E8;
    color: #334B46;
    margin-left: 3px;
    font-weight: 600;
}
.del:focus{
    outline: none;
}
.del:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #60746A;
    color: #E7F0E8;
    padding: 0.2em 0;
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.cinza{
    color: #999999;
}


@media only screen and (max-width: 850px) {
    body{
        background-image: none;
    }
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #titulo{
        justify-content: center;
        margin-right: 30%;
    }
    #logo{
        width: 12%;
        margin: 3% 1%;
    }  
    #piupiuwer{
        font-size: 40px;
    }
    #navheader{
        justify-content: center;
    }
    #divpesquisa{
        padding: 0 10px;
    }
    #formpesquisa{
        margin-top: 4%;
        margin-left: 2%;
    }
    #divmenu{
        top: 20%;
        margin-top: 0;
        margin-left: 65%;
        left: 0;
    }
    #botaomenu{
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        margin-top: 0;
        margin-right: 30%;
        padding-left: 0;
    }
    #iconemenu{
        margin-right: 5%;
    }
    .divopcoes{
        top:0;
        margin-top: 2%;
        padding-left: 0px;
    }
}

@media only screen and (max-height: 600px) and (orientation: landscape){
    body{
        background-image: none;
    }
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #titulo{
        justify-content: center;
    }
    #logo{
        width: 12%;
        margin: 3% 1%;
    }  
    #piupiuwer{
        font-size: 40px;
    }
    #navheader{
        justify-content: center;
    }
    #formpesquisa{
        margin-top: 4%;
        margin-left: 2%;
    }
    #divmenu{
        top: 20%;
        margin-top: 0;
        margin-left: 65%;
        left: 0;
    }
    #botaomenu{
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        margin-top: 0;
        margin-right: 30%;
        padding-left: 0;
    }
    #iconemenu{
        margin-right: 5%;
    }
    .divopcoes{
        top:0;
        margin-top: 2%;
        padding-left: 0px;
    }
}